[tool.poetry]
name = "bkstorages"
version = "1.0.6"
description = "File storage backends for blueking PaaS platform"
classifiers = ["Programming Language :: Python", "Programming Language :: Python :: 3", "Framework :: Django"]
authors = ["blueking <blueking@tencent.com>"]

[tool.poetry.dependencies]
python = ">=3.6.2,<3.8"
boto3 = ">=1.4.1"
six = "*"
requests = "*"
curlify = "^2.2.1"

[tool.poetry.dev-dependencies]
django = ">=1.7,<3.0.0"
six = ">=1.14"
# For flake8 support pyproject.toml
toml = "0.10.1"
pyproject-flake8 = "^0.0.1-alpha.2"
flake8-comprehensions = "^3.5.0"
# pytest
pytest = "6.2.2"
pytest-django = "4.1.0"
requests-mock = "^1.8.0"
# black
black = "21.7b0"
# mypy
mypy = "0.910"
# install extension stubs if missing
types-requests = "2.25.0"
types-setuptools = "57.0.0"
types-six = "0.1.7"
types-toml = "0.1.3"
# isort
isort = "^5.9.2"

[tool.black]
line-length = 119
skip-string-normalization = 'true'
exclude = '''
/(
  | .+/dist/.*
)/
'''

[tool.isort]
multi_line_output = 3
include_trailing_comma = 'true'
force_grid_wrap = 0
use_parentheses = 'true'
line_length = 119
# ignore example
skip_glob = ["*/dist/**"]

[tool.flake8]
ignore = "C901,E203,W503"
max-line-length = 119
max-complexity = 12
format = "pylint"
# ignore example
 exclude = "*.pyc,.git,__pycache__,*/dist/*"

[tool.mypy]
ignore_missing_imports = true
show_error_codes = true
strict_optional = false
pretty = true

[[tool.mypy.overrides]]
module = ["*.dist.*"]
ignore_errors = true
