# only ignore poetry.lock in root
/poetry.lock

# For ide
.idea

# direnv
.envrc

# pipfile
Pipfile
Pipfile.lock

# pre-commit
pre_commit_hooks
*.code-workspace

.DS_Store
.vscode

# Pre-CI files
.codecc
build.yml