appnope==0.1.2 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and sys_platform == "darwin"
asgiref==3.4.1 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
atomicwrites==1.4.0 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and sys_platform == "win32"
attrs==21.2.0 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
backcall==0.2.0 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
backports-entry-points-selectable==1.1.0 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
bkapi-bk-apigateway==1.0.11 ; python_full_version >= "3.6.1" and python_version < "4.0"
bkapi-client-core==1.2.0 ; python_full_version >= "3.6.1" and python_version < "4.0"
bleach==3.3.0 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
cachetools==4.2.4 ; python_full_version >= "3.6.1" and python_version < "4.0"
certifi==2021.5.30 ; python_full_version >= "3.6.1" and python_version < "4.0"
cffi==1.14.6 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
cfgv==3.3.0 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
charset-normalizer==2.0.1 ; python_full_version >= "3.6.1" and python_version < "4.0"
colorama==0.4.4 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
commonmark==0.9.1 ; python_version >= "3.7" and python_full_version < "3.8.0"
coverage[toml]==5.5 ; python_full_version >= "3.6.1" and python_version < "4"
cryptography==3.4.7 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
curlify==2.2.1 ; python_full_version >= "3.6.1" and python_version < "4.0"
decorator==5.0.9 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
distlib==0.3.2 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
django==3.2.12 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
docutils==0.17.1 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
faker==14.2.1 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
filelock==3.0.12 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
future==0.18.2 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
google-auth==2.12.0 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
identify==2.2.11 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
idna==3.2 ; python_full_version >= "3.6.1" and python_version < "4.0"
importlib-metadata==4.6.1 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
importlib-resources==5.2.0 ; python_full_version >= "3.6.1" and python_version < "3.7"
iniconfig==1.1.1 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
ipython-genutils==0.2.0 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
ipython==7.16.1 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
jedi==0.17.2 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
jeepney==0.7.0 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and sys_platform == "linux"
keyring==23.0.1 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
kubernetes==24.2.0 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
m2r==0.2.1 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
mistune==0.8.4 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
mypy-extensions==0.4.3 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
mypy==0.971 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
nodeenv==1.6.0 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
oauthlib==3.2.1 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
packaging==21.0 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
parso==0.7.1 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pexpect==4.8.0 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and sys_platform != "win32"
pickleshare==0.7.5 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pkginfo==1.7.1 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
platformdirs==2.0.2 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pluggy==0.13.1 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pre-commit==2.17.0 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
prompt-toolkit==3.0.19 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
ptyprocess==0.7.0 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and sys_platform != "win32"
py==1.10.0 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pyasn1-modules==0.2.8 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pyasn1==0.4.8 ; python_full_version >= "3.6.1" and python_version < "4"
pycparser==2.20 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pygments==2.9.0 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pyparsing==2.4.7 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pytest-cov==4.0.0 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pytest-django==4.5.2 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pytest-mock==3.6.1 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pytest-pretty==1.2.0 ; python_version >= "3.7" and python_full_version < "3.8.0"
pytest==7.0.1 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
python-dateutil==2.8.1 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pytz==2021.3 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pywin32-ctypes==0.2.0 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and sys_platform == "win32"
pyyaml==5.4.1 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
readme-renderer==29.0 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
requests-oauthlib==1.3.1 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
requests-toolbelt==0.9.1 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
requests==2.26.0 ; python_full_version >= "3.6.1" and python_version < "4.0"
rfc3986==1.5.0 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
rich==12.0.1 ; python_version >= "3.7" and python_full_version < "3.8.0"
rsa==4.9 ; python_full_version >= "3.6.1" and python_version < "4"
ruff==0.1.6 ; python_version >= "3.7" and python_full_version < "3.8.0"
secretstorage==3.3.1 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and sys_platform == "linux"
setuptools==59.6.0 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
six==1.16.0 ; python_full_version >= "3.6.1" and python_version < "4.0"
sqlparse==0.4.2 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
toml==0.10.2 ; python_full_version >= "3.6.1" and python_version < "4"
tomli==1.2.3 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
tox==3.23.1 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
tqdm==4.61.2 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
traitlets==4.3.3 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
twine==3.4.1 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
typed-ast==1.4.3 ; python_full_version >= "3.6.1" and python_version < "3.8"
types-pymysql==1.1.0.1 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
types-pyyaml==6.0.12.9 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
typing-extensions==3.10.0.0 ; python_full_version >= "3.6.1" and python_version < "4.0"
urllib3==1.26.6 ; python_full_version >= "3.6.1" and python_version < "4"
virtualenv==20.5.0 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
wcwidth==0.2.5 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
webencodings==0.5.1 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
websocket-client==1.3.1 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
zipp==3.5.0 ; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
