Warning: The lock file is not up to date with the latest changes in pyproject.toml. You may be getting outdated dependencies. Run update to update them.

certifi==2021.5.30; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
chardet==4.0.0; python_version >= "2.7" and python_full_version < "3.0.0" and python_version < "3" or python_full_version >= "3.6.0" and python_version < "3"
charset-normalizer==2.0.2; python_full_version >= "3.6.0" and python_version >= "3"
curlify==2.2.1
django==1.11.20
idna==2.10; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
pytz==2021.1
requests==2.26.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
typing-extensions==3.10.0.2
typing==3.10.0.0; python_version >= "2.7" and python_full_version < "3.0.0" and python_version < "3.5" or python_full_version >= "3.4.0" and python_version < "3.5" or python_version == "2.7"
urllib3==1.26.6; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4"
