certifi==2026.1.4 ; python_version >= "3.11" and python_version < "3.15"
charset-normalizer==3.4.4 ; python_version >= "3.11" and python_version < "3.15"
curlify==2.2.1 ; python_version >= "3.11" and python_version < "3.15"
idna==3.11 ; python_version >= "3.11" and python_version < "3.15"
requests==2.32.5 ; python_version >= "3.11" and python_version < "3.15"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "3.15"
urllib3==2.6.3 ; python_version >= "3.11" and python_version < "3.15"
