asgiref==3.11.1 ; python_version >= "3.11" and python_version < "3.15"
bkoauth==0.1.0 ; python_version >= "3.11" and python_version < "3.15"
cachetools==7.1.4 ; python_version >= "3.11" and python_version < "3.15"
certifi==2026.1.4 ; python_version >= "3.11" and python_version < "3.15"
cfgv==3.5.0 ; python_version >= "3.11" and python_version < "3.15"
chardet==7.4.3 ; python_version >= "3.11" and python_version < "3.15"
charset-normalizer==3.4.4 ; python_version >= "3.11" and python_version < "3.15"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.15"
coverage==7.13.1 ; python_version >= "3.11" and python_version < "3.15"
curlify==2.2.1 ; python_version >= "3.11" and python_version < "3.15"
distlib==0.4.0 ; python_version >= "3.11" and python_version < "3.15"
django==5.2.15 ; python_version >= "3.11" and python_version < "3.15"
faker==30.10.0 ; python_version >= "3.11" and python_version < "3.15"
filelock==3.20.3 ; python_version >= "3.11" and python_version < "3.15"
identify==2.6.16 ; python_version >= "3.11" and python_version < "3.15"
idna==3.11 ; python_version >= "3.11" and python_version < "3.15"
iniconfig==2.3.0 ; python_version >= "3.11" and python_version < "3.15"
librt==0.11.0 ; python_version >= "3.11" and python_version < "3.15" and platform_python_implementation != "PyPy"
more-itertools==10.8.0 ; python_version >= "3.11" and python_version < "3.15"
mypy-extensions==1.1.0 ; python_version >= "3.11" and python_version < "3.15"
mypy==1.20.2 ; python_version >= "3.11" and python_version < "3.15"
nodeenv==1.10.0 ; python_version >= "3.11" and python_version < "3.15"
packaging==25.0 ; python_version >= "3.11" and python_version < "3.15"
pathspec==1.1.1 ; python_version >= "3.11" and python_version < "3.15"
platformdirs==4.5.1 ; python_version >= "3.11" and python_version < "3.15"
pluggy==1.6.0 ; python_version >= "3.11" and python_version < "3.15"
pre-commit==4.6.0 ; python_version >= "3.11" and python_version < "3.15"
prometheus-client==0.24.1 ; python_version >= "3.11" and python_version < "3.15"
pygments==2.20.0 ; python_version >= "3.11" and python_version < "3.15"
pyproject-api==1.10.1 ; python_version >= "3.11" and python_version < "3.15"
pytest-cov==5.0.0 ; python_version >= "3.11" and python_version < "3.15"
pytest-django==4.11.1 ; python_version >= "3.11" and python_version < "3.15"
pytest-mock==3.15.1 ; python_version >= "3.11" and python_version < "3.15"
pytest==8.4.2 ; python_version >= "3.11" and python_version < "3.15"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.15"
pyyaml==6.0.3 ; python_version >= "3.11" and python_version < "3.15"
requests-mock==1.12.1 ; python_version >= "3.11" and python_version < "3.15"
requests==2.32.5 ; python_version >= "3.11" and python_version < "3.15"
six==1.17.0 ; python_version >= "3.11" and python_version < "3.15"
sqlparse==0.5.5 ; python_version >= "3.11" and python_version < "3.15"
tox==4.34.1 ; python_version >= "3.11" and python_version < "3.15"
types-requests==2.32.4.20260107 ; python_version >= "3.11" and python_version < "3.15"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "3.15"
tzdata==2026.2 ; python_version >= "3.11" and python_version < "3.15" and sys_platform == "win32"
urllib3==2.6.3 ; python_version >= "3.11" and python_version < "3.15"
virtualenv==20.36.1 ; python_version >= "3.11" and python_version < "3.15"
