name: apigw-manager

on:
  push:
    branches:
      - master
    paths:
      - "sdks/apigw-manager/**"
  pull_request:
    branches:
      - master
    paths:
      - "sdks/apigw-manager/**"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        os: [ubuntu-20.04, macos-13, windows-latest]
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: 'sdks/apigw-manager/requirements_tox.txt'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install . 'tox-gh-actions==3.2.0' -r requirements_tox.txt
        python -m pip uninstall -y tox-pyenv-redux
      working-directory: sdks/apigw-manager

    - name: Test with tox
      run: tox
      working-directory: sdks/apigw-manager
