name: CI Check for bk-storages

on:
  push:
    branches: [master, staging]
    paths:
      - "sdks/bk-storages/**"
  pull_request:
    branches: [master, staging]
    paths:
      - "sdks/bk-storages/**"
  workflow_dispatch:
jobs:
  check:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Setup uv
        uses: astral-sh/setup-uv@v5
      - name: Install Poetry system-wide
        # Use uv install to install poetry directly instead github action for simplicity
        run: uv pip install --system poetry==2.1.3
      - name: Ruff check
        run: poetry install && poetry run ruff check ./sdks/bk-storages --config ./pyproject.toml
      - name: Lint with mypy
        working-directory: sdks/bk-storages
        run: |
          pip install mypy==0.910 types-requests==2.31.0.2 types-setuptools==57.4.18 types-dataclasses==0.1.7 types-redis==3.5.18 types-PyMySQL==1.1.0.1 types-six==0.1.9 types-toml==0.1.5
          mypy . --config-file=pyproject.toml
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup uv
        uses: astral-sh/setup-uv@v5
      - name: Install Nox
        run:  uv pip install --system nox==2025.11.12
      - name: Show nox version
        working-directory: sdks/bk-storages
        run: nox --version
      - name: Run tests on ${{ matrix.os }}
        working-directory: sdks/bk-storages
        run: nox --non-interactive --error-on-missing-interpreters --session "tests(python='${{ matrix.python-version }}')" -- --full-trace

  build:
    runs-on: macos-latest
    if: github.event.release && contains(github.event.release.tag_name, 'bk-storages')
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Set up Poetry
        uses: abatilo/actions-poetry@v2.3.0
        with:
          poetry-version: 2.1.1
      - name: Build bk-storages
        run: |
          cd sdks/bk-storages
          poetry install
          poetry build
          echo "${{ github.event.release.tag_name }} ${{ github.sha }}" > Release.txt
          cat Release.txt
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            Release.txt
            sdks/bk-storages/dist/*

