name: bkapi-client-core

on:
  push:
    branches:
      - master
    paths:
      - "sdks/bkapi-client-core/**"
  pull_request:
    branches:
      - "master"
    paths:
      - "sdks/bkapi-client-core/**"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.6", "3.7"]
        os: [ubuntu-20.04]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Setup uv
      uses: astral-sh/setup-uv@v5

    - name: Install Nox
      run: uv pip install --system nox==2025.11.12

    - name: Run tests on ${{ matrix.os }}
      working-directory: sdks/bkapi-client-core
      run: nox --non-interactive --error-on-missing-interpreters --session "tests(python='${{ matrix.python-version }}')" -- --full-trace
